// Colors

$primary: #0045ff;
$primary--dark: #00196e;
$primary--light: #69d4f9;
$secondary: #ffbe2c;
$success: #4fc44a;
$error: #ff4141;
$text--darkest: #0c0b24;
$text--dark: #75869c;
$text--base: #8c9eb9;
$text--light: #eff3fb;

// Sizes
$text--biggest: 4rem;
$text--big: 2rem;
$text--base: 1rem;
$text--small: 0.75rem;

$icon--base: 32px;

$padding--base: 1rem;
$margin--base: 1rem;
